.game {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.game__title {
//  background-color: #46a1df;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: 10px 10px;
  color: #d32f2f;
  font-size: 2 rem;
  font-weight: bold;
  line-height: 2.5 rem;
  padding: 2rem;
  text-transform: uppercase;
  min-height: 20px;
}

.game__buzzer-status {
  line-height: 0;
  position: absolute;
  right: 2rem;
  top: 1.5rem;
  z-index: 1000;
}

.game__board {
  flex-grow: 1;
}
